__pycache___
__pycache__/

omniisaacgymenvs.egg-info/
checkpoints
omniisaacgymenvs/wandb

omniisaacgymenvs/recordings/

*.etli
*.png
*.mp4

omniisaacgymenvs/runs/Jackal/summaries
omniisaacgymenvs/runs/Jackal/nn/*.pth
!Jackal_ood.pth
!Jackal_id.pth

