__pycache___
__pycache__/
runs
omniisaacgymenvs.egg-info/
checkpoints
omniisaacgymenvs/wandb

omniisaacgymenvs/recordings/

*.etli
omniisaacgymenvs/data/*/*/*.png
omniisaacgymenvs/data/*/*/*.mp4
omniisaacgymenvs/data/id/test/dataset.csv
omniisaacgymenvs/data/id/test/metadata.csv
*.png
*.mp4